In [1]:
from __future__ import (absolute_import, division, print_function, unicode_literals)
import warnings

warnings.simplefilter('ignore')
import pandas as pd
from pandas.plotting import scatter_matrix
import numpy as np
from pylab import *

import seaborn as sns
import matplotlib.pyplot as plt

Импортируем все необходимые библиотеки

Разбираем один из способов создания объектов Pandas

In [3]:
df1 = pd.Series(np.random.randn(10), index=np.arange(10))

In [4]:
print(df1)

0    0.761729
1   -0.193820
2   -0.812498
3    0.281288
4    0.257877
5   -1.810398
6   -0.690912
7   -0.846916
8    0.942563
9    0.403905
dtype: float64

Разберем обращения к такому объекту

Series.append() - добавляет (присоединяет в конец Series) еще один Series

In [6]:
df2 = pd.Series(np.random.randn(4), index=np.arange(4))
df3 = df1.append(df2)
print(df3)

0    0.761729
1   -0.193820
2   -0.812498
3    0.281288
4    0.257877
5   -1.810398
6   -0.690912
7   -0.846916
8    0.942563
9    0.403905
0   -1.561687
1    0.695165
2   -0.068433
3    0.530608
dtype: float64

Series.unique() - выбирает все уникальные значения и выводит как список

In [7]:
print(df3.unique())

[ 0.76172872 -0.19381972 -0.81249793  0.28128816  0.25787668 -1.81039841
 -0.69091166 -0.84691584  0.942563    0.40390469 -1.56168733  0.69516532
 -0.0684327   0.53060768]

Series.get() - выбираем все значения с нужным ключом

In [12]:
print(df3.get([0, 7]))

0    0.761729
0   -1.561687
7   -0.846916
dtype: float64

Series.align() - объединяем Series с другим Series в турель. Поддерживаются пустые значения, и дублирование одинаковых значений при одинаковых объектах

In [13]:
df4 = pd.Series(np.random.randn(16), index=np.arange(16))
df3 = df3.align(df4)
print(df3)

(0     0.761729
0    -1.561687
1    -0.193820
1     0.695165
2    -0.812498
2    -0.068433
3     0.281288
3     0.530608
4     0.257877
5    -1.810398
6    -0.690912
7    -0.846916
8     0.942563
9     0.403905
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
dtype: float64, 0    -2.413752
0    -2.413752
1     2.146173
1     2.146173
2     1.453676
2     1.453676
3     0.675545
3     0.675545
4    -1.063570
5     0.269828
6     0.869854
7     0.303536
8    -0.790124
9    -1.696067
10    0.460493
11   -0.558389
12   -0.500135
13   -0.646441
14    1.337199
15   -1.110804
dtype: float64)

Series to DataFrame: объединение объектов в таблицу

In [16]:
newdf = pd.DataFrame({'df1': df3[0],
                  'df2': df3[1]})
print(newdf)

         df1       df2
0   0.761729 -2.413752
0  -1.561687 -2.413752
1  -0.193820  2.146173
1   0.695165  2.146173
2  -0.812498  1.453676
2  -0.068433  1.453676
3   0.281288  0.675545
3   0.530608  0.675545
4   0.257877 -1.063570
5  -1.810398  0.269828
6  -0.690912  0.869854
7  -0.846916  0.303536
8   0.942563 -0.790124
9   0.403905 -1.696067
10       NaN  0.460493
11       NaN -0.558389
12       NaN -0.500135
13       NaN -0.646441
14       NaN  1.337199
15       NaN -1.110804

DataFrame.fillna() - заполнение NaN значений числом

In [17]:
newdf = newdf.fillna(0)
print(newdf)

         df1       df2
0   0.761729 -2.413752
0  -1.561687 -2.413752
1  -0.193820  2.146173
1   0.695165  2.146173
2  -0.812498  1.453676
2  -0.068433  1.453676
3   0.281288  0.675545
3   0.530608  0.675545
4   0.257877 -1.063570
5  -1.810398  0.269828
6  -0.690912  0.869854
7  -0.846916  0.303536
8   0.942563 -0.790124
9   0.403905 -1.696067
10  0.000000  0.460493
11  0.000000 -0.558389
12  0.000000 -0.500135
13  0.000000 -0.646441
14  0.000000  1.337199
15  0.000000 -1.110804

DataFrame.head() - вывод первых n строк в датасете

In [19]:
print(newdf.head(6))

        df1       df2
0  0.761729 -2.413752
0 -1.561687 -2.413752
1 -0.193820  2.146173
1  0.695165  2.146173
2 -0.812498  1.453676
2 -0.068433  1.453676

In [21]:
print(newdf['df1'][:8])

0    0.761729
0   -1.561687
1   -0.193820
1    0.695165
2   -0.812498
2   -0.068433
3    0.281288
3    0.530608
Name: df1, dtype: float64

In [24]:
print(len(newdf[(newdf['df1'] > 0) & (newdf['df2'] > 0)]))

3